:root {
  --primary-magenta: hsl(300, 43%, 22%);
  --primary-pink: hsl(300, 24%, 96%);
  --secundary-dark-magenta: hsl(303, 10%, 53%);
  --secundary-light-magenta: hsl(300, 24%, 96%);
  --white: hsl(0, 0%, 100%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Spartan", "spartan";
  padding: 1.5rem;
}

main {
}

.description {
  width: 100%;
  max-width: 320px;
  display: block;
  background-image: url("../images/bg-pattern-top-mobile.svg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.description__title {
  display: flex;
  text-align: center;
  align-self: center;
  padding: 4rem;
  padding-bottom: 2.5rem;
  font-size: 2.6rem;
  font-weight: 700;
  color: var(--primary-magenta);
}

.description__p {
  text-align: center;
  font-weight: 400;
  font-size: 1.5rem;
  line-height: 2rem;
  color: var(--secundary-dark-magenta);
}
